
$bg-primary-dark: #48675e;
$bg-secondary-dark: #6a6282;
$bg-primary-light: #E7E3F1;
$bg-secondary-light: #fdfdff;
$bg-btn: #6a6282;
$bg-btn-hover: #E7E3F1;
$bg-site: #fdfdff;

$border-primary-dark: #2e2c39;
$border-secondary-dark: #6a6282;
$border-primary-light: #E7E3F1;

$text-primary-dark: #2e2c39;
$text-secondary-dark: #6a6282;
$text-primary-light: #fdfdff;


