@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.related-project {
    text-align: center;
    text-decoration: none;

    &__img {
        margin: 0 auto;
        width: 100%;
        height: auto;

        &:hover {
            opacity: 0.75;
        }

        @include desktop {
            width: 50%;
        }
    }

    &__title {
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $text-primary-light;
        padding: .5rem 1rem;

        @include desktop {
            width: 50%;
            text-align: left;
            font-size: 1rem;
        }
    }

    @include desktop {
        @include flex(flex-start, center);
    }
}