@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.site-header {
    background-color: $bg-secondary-dark;
    padding: .5rem;
    width: 100%;

    @include flex(space-between, center);

    &__logo {
        height: auto;
        width: 200px;
    }
}