@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.site-header {
    background-color: $bg-secondary-dark;
    padding: 1rem .5rem;
    width: 100%;

    // @include flex(space-between, center);

    &__logo {
        color: $text-primary-light;
        font-size: 1.25rem;
        height: auto;
    }
}