@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.site-footer {
    background-color: $bg-footer;
    color: $text-primary-light;
    margin: 2rem 0;
    padding: 2rem .5rem;
    text-align: center;
}