// border-sizing reset
* {
  box-sizing: border-box;
}

// Margin resets
body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
}

figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}